/* Primary: 194350 */
/* Secondary: ff8882 */
/* https://colorhunt.co/palette/273371 */
a {
  color: inherit;
}

.login {
  background-color: beige;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.login form {
  border: 5px royalblue;
  border-radius: 5pc;
  display: flex;
  flex-direction: column;
}

.login form input.field {
  border: 0px;
  padding: 10px;
  margin: 10px;
  width: 300px;
}
.login form input.field {
  border: 0px;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.login form input[type="submit"] {
  border: 0px;
  padding: 10px;
  margin: 10px;
  background-color: royalblue;
  color: #fff;
}

.notification {
  z-index: 100;
  position: absolute;
  background-color: red;
  top: -200px;
  left: 40%;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 4px;
  transition: 0.5s ease-in;
}
.error-notification {
  background-color: red;
  top: 20px;
}

.success-notification {
  background-color: green;
  top: 20px;
}

.notification p {
  color: #fff;
  padding: 15px;
  margin: 0 auto;
  font-weight: bold;
}
.signup {
  text-align: center;
  color: blue;
}

.signup a {
  color: inherit;
}

.nav {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #194350;
  color: #fff;
  justify-content: space-evenly;
}

.nav div {
  border: 1px solid #000;
}
.nav .appname {
  font-weight: bold;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  display: inline-flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.nav .action {
  width: 100px;
  font-weight: bold;
  padding-right: 20px;
  border: 1px solid #000;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5em;
}
